<form method="POST" action="/albums">
    <label>Title</label>
    <input type="text" name="title" />
    
    <label>Release Year</label>
    <input type="number" name="release_year" />
    
    <label>Artist ID</label>
    <input type="number" name="artist_id" />

    <input type="Submit" />
</form>